table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
}

h1{
    color: blue;
    margin-bottom: 20px;
}

p {
    font-family: 'Arial', sans-serif;
    font-size: 14px; 
    color: #555; 
    margin-bottom: 16px; 
}

th {
    background-color: blue;
    color: white;
    text-align: left;
    padding: 12px;
    font-size: 16px;
}

td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
    font-size: 14px;
}

/* Estilo para las filas */
tr:nth-child(even) {
    background-color: #f2f2f2; /* Color alternativo para las filas pares */
}

tr:hover {
    background-color: #e9e9e9;
}

/* Estilo para las celdas de la primera columna */
td:first-child {
    font-weight: bold; /* Negrita para la primera columna */
    color: #333; /* Color oscuro */
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    max-width: none;
    width: auto;
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    color: #555;
}

input, textarea, select {
    width: 100%;
    padding: 12px;
    margin-bottom: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    background-color: #f9f9f9;
    transition: border-color 0.3s;
}

input:focus, textarea:focus, select:focus {
    border-color: #6c5ce7;
    outline: none;
}

input[type="submit"] {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}