<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>CompruebaUser</servlet-name>
        <servlet-class>despliegue.practica.CompruebaUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EleccionCliente</servlet-name>
        <servlet-class>despliegue.practica.EleccionCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EleccionJuegos</servlet-name>
        <servlet-class>despliegue.practica.EleccionJuegos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EleccionAdmin</servlet-name>
        <servlet-class>despliegue.practica.EleccionAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>gestionarElStock</servlet-name>
        <servlet-class>despliegue.practica.gestionarElStock</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestionarElStock</servlet-name>
        <servlet-class>despliegue.practica.GestionarElStock</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ComprarCatalogo</servlet-name>
        <servlet-class>despliegue.practica.ComprarCatalogo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CompruebaUser</servlet-name>
        <url-pattern>/compruebaUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EleccionCliente</servlet-name>
        <url-pattern>/eleccionCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EleccionJuegos</servlet-name>
        <url-pattern>/eleccionJuegos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EleccionAdmin</servlet-name>
        <url-pattern>/eleccionAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionarElStock</servlet-name>
        <url-pattern>/gestionarElStock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComprarCatalogo</servlet-name>
        <url-pattern>/comprarCatalogo</url-pattern>
    </servlet-mapping>
</web-app>
